extends layout

block content
    h1#h1App APLICACIONES

    div#modalApp

    .container
        div#form
            form(action='/crearapp', method='get')
                input.btn.btn-primary.newApp(value='Nueva Aplicación', type='submit')


        hr(size='2px', style='border-top: 2px solid #eee')


    table#tablaApp.aplicacion.table.table-striped
        thead
            tr
                th Nombre
                th
                th Descripción
                th Opciones
        tbody






