extends layout

block content
    h1#h1App CREAR ESCENARIO

    .container
        form#crearescenario(action='/guardarescenario', method='post')
            .form-group
                label(for='nombre') Nombre

                input#nombre.form-control(type='text', name='nombre' ,placeholder='Nombre')

            .form-group
                label(for='url') URL

                input#url.form-control(type='text', name='url' ,placeholder='URL')

            button#gEscenarios.btn.btn-primary(style='margin-bottom: 10px', type='submit') Guardar

        form(action='/escenarios')
            button.btn.btn-default(type='submit') Cancelar

