extends layout

block content
    h1#h1App EDITAR PASO

    .container
        form(action='/editarpaso', method='post')
            input(type='hidden',name='id',value='#{info[0].id}')
            .form-group
                label(for='elemento') Elemento
                input#elemento.form-control(type='text', placeholder='Elemento', name='elemento', value='#{info[0].elemento}')

            .form-group
                label(for='valor') Valor
                input#valor.form-control(type='text', placeholder='Valor', name='valor', value='#{info[0].valor}')

            .form-group
                label(for='Tipo') Valor
                select#tipo.form-control(name='tipo')
                    option(value='#{info[0].tipo}')
                    option Check_Box
                    option Click
                    option Date
                    option Number
                    option Password
                    option Radio
                    option See
                    option Select
                    option Text

            button.btn.btn-primary(style='margin-bottom: 10px', type='submit') Guardar

        form(action='/pasos')
            button.btn.btn-default(type='submit') Cancelar