extends layout

block content
    h1#h1App EDITAR ESCENARIO

    .container
        form#editarescenario(action='/editarescenario', method='post')
            input(type='hidden',name='id',value='#{info[0].idEsc}')
            .form-group
                label(for='nombre') Nombre

                input#nombre.nombre.form-control(type='text', placeholder='Nombre', name='nombre', value='#{info[0].nombre}')

            .form-group
                label(for='url') URL

                input#url.uri.form-control(type='text', placeholder='URL', name='url', value='#{info[0].url}')

            button.btn.btn-primary.eEscenarios(style='margin-bottom: 10px', type='submit') Guardar

        a(href='javascript:window.history.back();')
            button.btn.btn-default(type='submit') Cancelar
