extends layout

block content
    h1#h1App EDITAR ESCENARIO

    .container
        form#crearescenario(action='/editarescenario', method='post')
            input(type='hidden',name='id',value='#{info[0].id}')
            .form-group
                label(for='nombre') Nombre

                input#nombre.form-control.required(type='text', placeholder='Nombre', name='nombre', value='#{info[0].nombre}')

            .form-group
                label(for='url') URL

                input#url.form-control.required(type='text', placeholder='URL', name='url', value='#{info[0].url}')

            button.btn.btn-primary.guardarapp(style='margin-bottom: 10px', type='submit') Guardar

        form(action='/escenarios')
            button.btn.btn-default(type='submit') Cancelar
