extends layout

block content
    h1#h1App ESCENARIOS

    div#modalEscenario

    .container
        div#form
            form(action='/crearescenario', method='get')
                input.btn.btn-primary.newApp(value='Nuevo Escenario', type='submit')
            form(action='/pasos', method='get')
                input.btn.btn-success.continuar(value='Pasos', type='submit')
            form(action='/', method='get')
                input.btn.btn-info(value='Regresar', type='submit')

    table#tablaApp.table.escenario
        thead
            tr
                th
                th Nombre
                th URL
                th Opciones
        tbody



