extends layout

block content
    h1#h1App PASOS ESCENARIO

    div#modalPasos

    .container
        form(action='/escenarios', method='get')
            input.btn.btn-info(value='Regresar', type='submit')
        hr(size='2px', style='border-top: 2px solid #eee')


    form#guardarPasos(action='/guardarpasos', method='post')
        table#tablaPasos.table.pasos.table-striped
            thead
                tr
                    th.text-center Elemento
                    th.text-center Valor
                    th.text-center Tipo
                    th.text-center Opciones



                tr.tr

                    th
                        .form-group
                            input#elemento.form-control(name='elemento', type='text', placeholder='Elemento')

                    th
                        .form-group
                            input#valor.form-control(name='valor', type='text', placeholder='Valor')
                    th
                        .form-group
                            select#tipo.form-control(name='tipo')
                                option Check_Box
                                option Click
                                option Date
                                option Email
                                option Number
                                option Password
                                option Radio
                                option See
                                option Select
                                option Text

                    th.text-center
                        .form-group
                            button#gPasos.gPasos.btn.btn-default(type='submit') Guardar




            tbody
                //Pasos
