extends layout

block content
    h1#h1App PASOS ESCENARIO

    div#modal.modal.fade(tabindex='-1', role='dialog')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;

                    h4.modal-title.text-danger ADVERTENCIA

                .modal-body
                    p ¿Está seguro de eliminar este paso?

                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Cerrar

                    button.btn.btn-danger(type='button') Eliminar

    .container
        form(action='/escenarios', method='get')
            input.btn.btn-info(value='Regresar', type='submit')
        table#tablaApp.table
            thead
                tr
                    th.text-center Elemento
                    th.text-center Valor
                    th.text-center Tipo
                    th.text-center Opciones

                tr
                    th
                        .form-group
                            input#elemento.form-control(name='elemento', type='text', placeholder='Elemento')
                    th
                        .form-group
                            input#valor.form-control(name='valor', type='text', placeholder='Valor')
                    th
                        .form-group
                            select#tipo.form-control
                                option
                                option Button
                                option Check_Box
                                option Date
                                option Number
                                option Password
                                option Radio
                                option Select
                                option Text
                                option see
                    th.text-center
                        .form-group
                            a(href='/guardarpaso') Guardar
            tbody
                tr
                    td.text-center #nombre
                    td.text-center DanielC
                    td.text-center Text
                    td.text-center
                        a.eliminar(data-toggle='modal', data-target='#modal') Eliminar
